@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer base {
  html {
    font-family: Calibri, system-ui, sans-serif;
  }
}
/* styles.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-size: 16px;
  --font-weight: 400;
  --primary-color: #14BDE3;
  --footer-color: #1086A0;
  --secondary-color: #00A859;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Define font styles */

body {
  color: rgb(var(--foreground-rgb));
  
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}
footer {
 background-color: var(--footer-color);
}
